
/*
    BODY PAGE
*/
html, body{
    overflow-x: hidden;
    height: 100%;
    background-color: #252836;
    color: white;
}

a{
    cursor:pointer;
}

.h-custom{
    margin-top: 10%;
}

/*Animation*/

.light-effect {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, rgba(17, 12, 173, 0.6), rgba(255, 255, 255, 0));
    /* background: linear-gradient(45deg, #fa1e4e, rgba(255, 255, 255, 0)); */
    animation: moveLight 6.5s infinite linear;
    border-radius: 50%;
  }

@keyframes moveLight {
    0% {
      top: -50%;
      left: -50%;
    }
    50% {
      top: 100%;
      left: 100%;
    }
    100% {
      top: -50%;
      left: -50%;
    }
}
/*
    media query
*/


@media  screen and (max-width: 600px) {
    *{
        font-family: 'Sixtyfour'!important;
    }
    h1{
        font-size: 2em !important;
    }
    input{
        font-size: 0.7em !important;
    }
    label{
        font-size: 0.6em !important;
    }
    #btnSubmit{
        font-size:0.9em;
    }

   
  }
  
  /* Para telas médias (por exemplo, tablets) */
  @media  screen and (min-width: 601px) and (max-width: 1024px) {
    *{
        font-family: 'Sixtyfour'!important;
    }
    h1{
        font-size: 3em !important;
    }
    input{
        font-size: 0.8em !important;
    }
    label{
        font-size: 0.7em !important;
    }
    #btnSubmit{
        font-size:1em;
    }
  }
  
  /* Para telas grandes (por exemplo, desktops) */
  @media  screen and (min-width: 1025px) {
   
    *{
        font-family: 'Sixtyfour'!important;
    }
    h1{
        font-size: 4em !important;
    }
    input{
        font-size: 0.9em !important;
    }
    label{
        font-size: 0.8em !important;
    }
    #btnSubmit{
        font-size:1.2em;
    }
    
   
  }

/*
    DEBUG
*/
.border-debug{
    border: 1px solid red;
}

/*
    BUTTONS
*/
#btnSubmit{
    background-color: #5021ff;
    font-weight: bold;
    border: #4500cc;
}

a:hover{
    color: #6014f7;
}

#btnSubmit:hover{
    background-color: #6014f7;
}


/*
    SCROLLBAR
*/

/* Estilizar o trilho da barra de rolagem */
::-webkit-scrollbar {
    width: 12px;  /* Define a largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.8);  /* Cor do trilho */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #4500cc;  /* Cor do polegar da barra de rolagem */
    border-radius: 10px;
    border: 2px solid #4500cc;  /* Borda ao redor do polegar */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6014f7;  /* Cor do polegar ao passar o mouse */
    border-radius: 10px;
    border: 2px solid #4500cc;  /* Borda ao redor do polegar no hover */
}

/*
    STORYBOARD 
*/

.office-scene{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position:relative;
    animation: moveScene 10s infinite ease-in-out;
}

@keyframes moveScene {
    0% {
        transform: translate(0px, 0px) scale(1);
    }
    25% {
        transform: translate(5px, -5px) scale(1.05);
    }
    50% {
        transform: translate(-5px, 5px) scale(1.05);
    }
    75% {
        transform: translate(5px, -5px) scale(1.05);
    }
    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

.character{
    width: 25%;
    height: auto;
    bottom: 0;
    left: 0;
    margin-bottom: 10px; 
    margin-left: 10px;
    position: fixed;
    z-index: 10;
}

.holmes{
    width: 35%;
    height: auto;
    bottom: 0;
    left: 3%;
    margin-bottom: 10px; 
    margin-left: 10px;
    position: fixed;
    z-index: 10;
}

.holmes-loser{
    width: 25%;
    height: auto;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    margin-bottom: 10px; 
    position: fixed;
    z-index: 10;
}

.oldman{
    width: 35%;
    height: auto;
    bottom: 0;
    left: 3%;
    margin-bottom: 0px; 
    margin-left: 10px;
    position: fixed;
    z-index: 10;
}


/*Animação da borda da menssagem de dica*/
@keyframes glowing-border {
    0% {
        border-color: #00ff00; /* Cor inicial do brilho (verde) */
        box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00; /* Brilho */
    }
    50% {
        border-color: #ff0000; /* Cor do brilho (vermelho) */
        box-shadow: 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000; /* Brilho mais forte */
    }
    100% {
        border-color: #00ff00; /* Retorna à cor inicial do brilho */
        box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00; /* Brilho suave */
    }
}
#storyboard-orientation-message {
    border: 3px solid transparent; 
    border-radius: 10px; 
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
    color: white; 
    position: absolute;
    margin-top: 50%;
    margin-bottom: 50%;
    z-index: 10;
    display: none; 
    line-height: 1.3;
    animation: glowing-border 1.5s infinite alternate; 
}

@keyframes loser-border {
    0% {
        border-color: #b0ce1b; /* Cor inicial do brilho (verde) */
        box-shadow: 0 0 5px #ff4400, 0 0 10px #ff4400, 0 0 15px #ff4400; /* Brilho */
    }
    50% {
        border-color: #ff0000; /* Cor do brilho (vermelho) */
        box-shadow: 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000; /* Brilho mais forte */
    }
    100% {
        border-color: #b0ce1b; /* Retorna à cor inicial do brilho */
        box-shadow: 0 0 5px #b0ce1b, 0 0 10px #b0ce1b, 0 0 15px #ff4400; /* Brilho suave */
    }
}

#loser-message{
    border: 3px solid transparent; 
    border-radius: 10px; 
    padding: 20px;
    background-color: rgba(198, 35, 35, 0.7); /* Fundo semitransparente */
    color: white; 
    position: absolute;
    margin-top: 4%;
    font-size: 3vh;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    display: block; 
    line-height: 1.3;
    animation: loser-border 1.5s infinite alternate; 
}

/*messages*/

@keyframes text-border {
    0% {
        border-color: #a7f4f7; /* Cor inicial do brilho (verde) */
        box-shadow: 0 0 5px #e5ebe5, 0 0 10px #dae3da, 0 0 15px #e0eee0; /* Brilho */
    }
    50% {
        border-color: #e5ebe5; /* Cor do brilho (vermelho) */
        box-shadow: 0 0 10px #e5ebe5, 0 0 15px #f4e5e5, 0 0 20px #e5ebe5; /* Brilho mais forte */
    }
    100% {
        border-color: #e5ebe5; /* Retorna à cor inicial do brilho */
        box-shadow: 0 0 5px #e5ebe5, 0 0 10px #e5ebe5, 0 0 15px #e5ebe5; /* Brilho suave */
    }
}

#storyboard-message-intro {
    position: fixed; /* Fixa a mensagem na tela */
    top: 20px;
    right: 20px;
    max-width: 300px;
    padding: 15px;
    background-color: #f9f9f9; 
    color: #333; 
    border: 2px solid #ccc; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-size: 14px;
    z-index: 1000; 
    line-height: 1.3;
    display: block;
    animation: text-border 1.5s infinite alternate; 
}

#oldman-chat-1{
    position: fixed; /* Fixa a mensagem na tela */
    top: 20px;
    right: 50px;
    max-width: 300px;
    padding: 15px;
    background-color: #f9f9f9; 
    color: #333; 
    border: 2px solid #ccc; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-size: 16px;
    z-index: 1000; 
    line-height: 1.3;
    display: block;
    animation: text-border 1.5s infinite alternate; 
}

#oldman-chat-2{
    position: fixed; /* Fixa a mensagem na tela */
    bottom:  0;
    right: 50px;
    max-width: 300px;
    padding: 15px;
    background-color: #f9f9f9; 
    color: #333; 
    border: 2px solid #ccc; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-size: 16px;
    z-index: 1000; 
    line-height: 1.3;
    display: block;
    animation: text-border 1.5s infinite alternate; 
}


@media  screen and (max-width: 1000px) {
    #storyboard-message-intro {
        font-size: 12px;
        max-width: 500px;
    }
    #oldman-chat-1 {
        font-size: 12px;
        max-width: 500px;
    }
}

@keyframes btn-border{
    0% {
        border-color: #704fe7; /* Cor inicial do brilho (verde) */
        box-shadow: 0 0 5px #e5ebe5, 0 0 10px #dae3da, 0 0 15px #704fe7; /* Brilho */
    }
    50% {
        border-color: #704fe7; /* Cor do brilho (vermelho) */
        box-shadow: 0 0 10px #3416c9, 0 0 15px #412f84, 0 0 20px #e5ebe5; /* Brilho mais forte */
    }
    100% {
        border-color: #704fe7; /* Retorna à cor inicial do brilho */
        box-shadow: 0 0 5px #e5ebe5, 0 0 10px #e5ebe5, 0 0 15px #704fe7; /* Brilho suave */
    }
}

.btnStory{
    position: fixed;
    bottom: 30px;
    right: 50px;
    display: none;
    animation: btn-border 1.5s infinite alternate; 
}

.btnStory2{
    position: fixed;
    bottom: 30px;
    right: 250px;
    display: none;
    animation: btn-border 1.5s infinite alternate; 
}

.btnStory4{
    position: fixed;
    bottom: 30px;
    left: 50px;
    display: none;
    animation: btn-border 1.5s infinite alternate; 
}

.btnStory5{
    position: fixed;
    bottom: 30px;
    left: 250px;
    display: none;
    animation: btn-border 1.5s infinite alternate; 
}
#btnStory:hover{
    background-color: #704fe7;
}
#btnStory2:hover{
    background-color: #704fe7;
}
#btnStory4:hover{
    background-color: #704fe7;
}
#btnStory5:hover{
    background-color: #704fe7;
}

#btnStory{
    background-color: #5021ff;
    font-weight: bold;
    border: #4500cc;
    display: none;
}
#btnStory2{
    background-color: #5021ff;
    font-weight: bold;
    border: #4500cc;
    display: none;
}

#btnStory4{
    background-color: #5021ff;
    font-weight: bold;
    border: #4500cc;
    display: none;
}
#btnStory5{
    background-color: #5021ff;
    font-weight: bold;
    border: #4500cc;
    display: none;
}

/*
    navbar
*/

nav.custom-navbar{
    background: rgba(0,0,0, 0.6);
    padding: 15px 0px;
}
.pts{
    color: #fa1e4e;
}
.game-body{
    background: #131019;
}

/*
    footer
*/

#links{
    right: 10px;
    display: flex;
    align-items: end;
    justify-content: end;
}

#links svg{
    cursor: pointer;
}
#links svg:hover{
    transform: scale(1.1, 1.1);
}

/*
    GAME
*/
.box{
    cursor: pointer;
    background:#251f32;
    border-radius: 4%;
    padding: 5px;
    width: 350px;
    height: 200px;
}

.box img{
    border-radius: 4%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.box:hover{
    border: 1px solid #4a2f2f;
    background:#beb6d2;
    object-fit: cover;
}

.box img:hover{
    transform: scale(1.01, 1.01);
}

/*
    Info modal
*/

div[class="modal-header"]{
    background: #5021ff!important;
}

div[class="modal-body"]{
    color:#4c516b;
    font-size: 1.5vh;
    line-height: 1.3;
}

h6{
    color: black;
}

strong{
    color: black;
}

.modal-footer .btn{
    background: #fa1e4e!important;
}